//========================================================================

@media (max-width: 992px) {

  body.show {
    overflow: hidden;
  }

  .page {
    padding: 0 12px 40px;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .header {
    padding-right: 20px;
  }

  .header__nav,
  .footer__nav {
    display: none;
  }

  //- burger

  .burger {
    position: fixed;
    z-index: 20;
    top: 15px;
    right: 20px;

    display: block;
    width: 40px;
    height: 30px;
    cursor: pointer;

    &__line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: all 0.1s linear;
    }

    &__one {
      top: 0;
    }

    &__two {
      top: 50%;
      transform: translateY(-50%);
    }

    &__three {
      top: 50%;
      transform: translateY(-50%);
    }

    &__four {
      bottom: 0;
    }
  }

  .burger.show .burger__one,
  .burger.show .burger__four {
    opacity: 0;
  }

  .burger.show .burger__two {
    transform: rotate(45deg);
  }

  .burger.show .burger__three {
    transform: rotate(-45deg);
  }


  //- burger nav

  .header__logo {
    width: 105px;
    height: 60px;
  }

  .header__mobile {
    position: fixed;
    z-index: 15;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 60%;
    display: grid;
    grid-template-rows: repeat(4, 50px);
    padding: 100px 0;
    background-color: #323232fa;
    overflow: auto;
    transition: all .3s linear;
  }

  .header__mobile.show {
    transform: none;
  }

  .header__mobile.show .header__link_mobile {
    // font-family: Raleway;
    justify-self: center;
    align-self: center;
    background-color: transparent;
    color: #fff;
  }

  .header__mobile.show .header__link_mobile:hover {
    font-weight: bold;
    color: #696969;
  }

  .greet {
    padding-top: 146px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding: 60px 15px 0;
  }

  .footer__occup,
  .footer__left {
    margin: 0 0 50px 0;
  }

  .footer__copy {
    padding: 50px 22px 50px 0;
    text-align: center;
    margin: 0;
    border: none;
  }
}

@media (max-width: 768px) {

  .works,
  .test {
    border: none
  }

  .service,
  .works {
    padding-top: 90px;
  }

  .service__title,
  .works__title,
  .test__title {
    margin-bottom: 38px;
  }

  .works__layout {
    margin-bottom: 60px;
    padding-bottom: 0;
  }

  .test__layout {
    grid-template: 1fr/ 1fr;
  }

  .remind {
    grid-template-columns: 1fr;
    padding-bottom: 135px;
  }

  .greet__button {
    justify-self: center;
  }

  .works__button,
  .greet__button {
    padding-top: 18px;
    padding-bottom: 18px;
  }

}

@media (max-width: 576px) {
  .greet {
    grid-template-columns: 1fr;
  }

  .greet__image {
    grid-row: 1;
    width: 240px;
    justify-self: center;
  }

  .greet__button {
    margin-top: 50px;
  }
}

@media (max-width: 450px) {

  .service__layout,
  .works__layout {
    grid-template-columns: 1fr;
    gap: 38px;
  }

  .works__card {
    height: 290px;
  }

  .service__card {
    text-align: center;
    padding: 52px 5px 30px;
  }

  .test {
    padding: 64px 0;
  }

  .footer,
  .test__card {
    background-color: #C4C4C4;
  }

  .test__card {
    padding: 20px 10px;
  }

  .remind__image {
    width: 100%;
    border-radius: 5px;
  }

  .social {
    justify-content: center;
  }

}