//========================================================================

@media (max-width: 992px) {

  body.show {
    overflow: hidden;
  }

  .page {
    padding: 0 12px 40px;
  }

  .button {
    width: 223px;
    height: 61px;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .header {
    padding-right: 20px;
  }

  .header__nav,
  .footer__nav {
    display: none;
  }

  //- burger

  .burger {
    position: fixed;
    z-index: 20;
    top: 15px;
    right: 20px;

    display: block;
    width: 40px;
    height: 30px;
    cursor: pointer;

    &__line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: all 0.1s linear;
    }

    &__one {
      top: 0;
    }

    &__two {
      top: 50%;
      transform: translateY(-50%);
    }

    &__three {
      top: 50%;
      transform: translateY(-50%);
    }

    &__four {
      bottom: 0;
    }
  }

  .burger.show .burger__one,
  .burger.show .burger__four {
    opacity: 0;
  }

  .burger.show .burger__two {
    transform: rotate(45deg);
  }

  .burger.show .burger__three {
    transform: rotate(-45deg);
  }


  //- burger nav

  .header__logo {
    width: 105px;
    height: 60px;
  }

  .header__mobile {
    position: fixed;
    z-index: 15;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 60%;
    display: grid;
    grid-template-rows: repeat(4, 50px);
    padding: 100px 0;
    background-color: #323232fa;
    overflow: auto;
    transition: all .3s linear;
  }

  .header__mobile.show {
    transform: none;
  }

  .header__mobile.show .header__link_mobile {
    // font-family: Raleway;
    justify-self: center;
    align-self: center;
    background-color: transparent;
    color: #fff;
  }

  .header__mobile.show .header__link_mobile:hover {
    font-weight: bold;
    color: #696969;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 60px 15px 0;
  }

  .footer__occup,
  .footer__left {
    margin: 0 0 50px 0;
  }

  .footer__copy {
    padding: 50px 22px 50px 0;
    text-align: center;
    margin: 0;
    border: none;
  }

  .address {
    margin-top: 126px;
    margin-bottom: 72px;
  }

  //- cusy --------------

  .cusy__header {
    margin-top: 60px;
  }

  .cusy__subtitle {
    font-size: 20px;
  }

  .cusy__address {
    margin: 44px 0;
  }

  .cusy__about-description {
    grid-template-columns: 1fr;
    row-gap: 42px;
  }
}

@media (max-width: 768px) {

  .test {
    border: none
  }

  .service {
    padding: 90px 0;
  }

  .works,
  .test {
    padding-bottom: 64px;
  }

  .service__title,
  .works__title,
  .test__title {
    margin-bottom: 38px;
  }

  .works__layout {
    margin-bottom: 60px;
    padding-bottom: 0;
  }

  .test__layout {
    grid-template: 1fr/ 1fr;
  }

  .remind {
    grid-template-columns: 1fr;
    padding-top: 0;
    padding-bottom: 135px;
  }

  .greet__button {
    justify-self: center;
  }

  //- cusy ------------

  .cusy__work {
    background-color: #fff;
    padding: 42px 0 65px;
  }

  .cusy__chapter {
    font-size: 24px;
  }
  .cusy__greet-subtitle {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .greet {
    grid-template-columns: 1fr;
  }

  .greet__image {
    grid-row: 1;
    width: 240px;
    justify-self: center;
  }

  .greet__button {
    margin-top: 50px;
  }
}

@media (max-width: 450px) {

  .service__layout,
  .works__layout {
    grid-template-columns: 1fr;
    gap: 38px;
  }

  .works__link {
    border-radius: 8px;
  }

  .works__card {
    height: 290px;
  }

  //- works content //

  .works__content {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    justify-content: center;
    padding: 36px 0;
  }

  .works__content span:nth-child(1) {
    font-family: Raleway;
    text-align: center;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
  }

  .works__content span:nth-child(2) {
    font-family: Raleway;
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
  }

  .works__content button {
    font-size: 17px;
    align-self: flex-end;
    width: 190px;
    height: 60px;
    border-radius: 50px;
    background: #696969;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .service__card {
    text-align: center;
    padding: 52px 5px 30px;
  }

  .footer,
  .test__card {
    background-color: #C4C4C4;
  }

  .test__card {
    padding: 20px 10px;
  }

  .remind__image {
    width: 100%;
    border-radius: 5px;
  }

  .social {
    justify-content: center;
  }
}