@media (max-width: 992px) {

  body.show {
    overflow: hidden;
  }

  .page {
    padding: 0 12px 40px;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .header {
    padding-right: 20px;
  }

  .header__nav,
  .footer__nav {
    display: none;
  }

  .burger {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;

    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  //- burger

  .header__logo {
    width: 105px;
    height: 60px;
  }

  .header__nav.show {
    transform: none;
  }

  .header__nav.show {
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    display: grid;
    grid-template-rows: repeat(4, 50px);
    padding: 100px 0;
    background-color: #fff;
    border-left: 1px solid #000;
    transition: all 1s linear;
  }

  .header__nav.show .header__link {
    align-self: center;
    padding: 0;
    background-color: transparent;
  }

  .header__nav.show .header__link:hover {
    font-weight: bold;
    color: #000;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 60px 15px 0;
  }

  .footer__occup,
  .footer__left {
    margin: 0 0 50px 0;
  }

  .footer__copy {
    padding: 50px 22px 50px 0;
    text-align: center;
    margin: 0;
    border: none;
  }
}

@media (max-width: 768px) {

  .works,
  .test {
    border: none
  }

  .test__layout {
    grid-template: 1fr/ 1fr;
  }

  .remind {
    grid-template-columns: 1fr;
    padding-bottom: 135px;
  }

  .greet__button {
    justify-self: center;
  }


}

@media (max-width: 576px) {
  .greet {
    grid-template-columns: 1fr;
  }

  .greet__image {
    grid-row: 1;
    width: 240px;
    justify-self: center;
  }

  .greet__button {
    padding: 3.7% 19%;
    margin-top: 50px;
  }
}

@media (max-width: 400px) {

  .service__layout,
  .works__layout {
    grid-template-columns: 1fr;
  }

  .service__card {
    text-align: center;
    padding: 52px 5px 30px;
  }
  .footer,
  .test__card {
    background-color: #C4C4C4;
  }

  .test__card {
    padding: 20px 10px;
  }

  .remind__image {
    width: 100%;
    border-radius: 5px;
  }

}