@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:wght@400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

/* #region //- common */

.page {
  max-width: 1440px;
  padding: 0 24px 60px;
}

.title {
  font-family: Raleway;
  font-weight: 700;
  font-size: clamp(28px, 3cqi, 36px);
  line-height: 150%;
  text-align: center;
  color: #000;
  margin: 0 0 0 0;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  font-size: clamp(18px, 2cqi, 20px);
  line-height: 150%;
  color: #000;
}

.testname {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000;
}

.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  background-color: #696969;
}

.button:hover {
  transform: translateY(3px);
}

.social {
  display: flex;
  gap: 70px;
  margin-top: 30px;

  &__link {
    width: 16px;
    height: 12px;
  }
}

/* #endregion */

/* #region // -header */

.header {
  display: grid;
  grid-template: 1fr / 1fr 640px;
  align-items: center;
  background-color: #fff;

  &__logo {
    width: 150px;
    height: 90px;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    text-align: center;
    padding: 30px 40px;
    border-radius: 50px;
  }

  &__link:hover {
    color: #fff;
    background-color: #696969;
  }

  &__mobile {
    display: none;
    transform: translateX(100vw);
  }
}

.burger {
  display: none;
}

/* #endregion */

/* #region // -greet */

.greet {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
  padding-top: 100px;

  &__layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  &__title {
    font-family: Raleway;
    font-weight: 800;
    font-size: clamp(28px, 4cqi, 50px);
    line-height: 150%;
    margin: 0;
    color: #000;

    &_grey {
      color: #696969;
    }
  }

  &__button {
    justify-self: flex-start;
    padding: 3.7% 28px;
  }

  &__image {
    position: relative;
    padding: 0 0 78% 0;
  }

  &__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* #endregion */

/* #region // -service */

.service {
  padding-top: 11.1%;
  /* 160/1440 */

  &__title {
    margin-bottom: 4.7%;
    /* 68/1440 */
  }

  &__layout {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
  }

  &__card {
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    background-color: #C4C4C4;
    border-radius: 20px;
    padding: 32px 20px;
  }

  &__card-title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 16px;
    color: #000;
  }

  &__card-text {
    margin: 0;
  }
}

/* #endregion */

/* #region //- works */

.works {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 6.7%;
  /* 96/1440 */
  padding-bottom: 9%;
  /* 130/1440 */
  border-bottom: 1px solid #000;

  &__title {
    margin-bottom: 5.1%;
    /* 74/1440 */
  }

  &__layout {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(338px, 1fr));
    gap: 1rem;
    margin-bottom: 100px;
  }

  &__link {
    max-width: 450px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
  }

  &__link:hover .works__card {
    transform: scale(1.1);
  }

  &__card {
    height: 260px;
    margin: 0 auto;
    background: url('../img/works/image2.jpg') center / cover no-repeat;
    transition: all .5s linear;
  }

  &__content {
    display: none;
  }

  &__image {
    object-fit: cover;
    height: 100%;
  }

  &__button {
    justify-self: center;
    padding: 2.2% 28px
  }
}

/* #endregion */

/* #region //- test */

.test {
  padding: 4.4% 0 9%;
  border-bottom: 1px solid #000;

  &__title {
    margin-bottom: 13.2%;
    /* 190/1440 */
  }

  &__layout {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(522px, 1fr));
    row-gap: 46px;
    column-gap: 82px;
  }

  &__card {
    max-width: 655px;
    background: #E5E5E5;
    border-radius: 20px;
    padding: 36px 30px 22px;
    margin: 0 auto;
  }

  &__logo {
    width: 67px;
    height: 67px;
    float: left;
    margin-right: 20px;
  }

  &__social {
    color: #696969;
  }
}

/* #endregion */

/* #region //- remind */

.remind {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  padding: 5.3% 0 7.6% 0;

  &__button {
    align-self: center;
    margin-top: 9%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 350px;
    height: 264px;
    justify-self: center;
    overflow: hidden;
    border-radius: 50px;
  }
}

/* #endregion */

/* #region //- footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 60px 0;
  background-color: #E5E5E5;

  &__left {}

  &__logo {
    width: 87px;
    height: 48px;
    margin-bottom: 1rem;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000;
  }

  &__occup {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }

  &__email {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    margin: 0;
  }

  &__mail {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000;
  }

  &__mail:hover {
    font-weight: bold;
  }

  &__right {}

  &__title {
    text-align: start;
  }

  &__copy {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 35px;
    margin-top: 40px;
    border-top: 1px solid #000;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 500px;
  }

  &__link {
    justify-self: center;
    color: #000;
    font-size: 18px;
    line-height: 150%;
  }

  &__link:hover {
    font-weight: bold;
  }

  .copy {
    font-family: Raleway;
    font-size: 18px;
    color: #000;
  }
}


/* #endregion */