@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Raleway:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

/* #region //- common */

.page {
  container-type: inline-size;
  max-width: 1440px;
  padding: 0 24px;
}

.title {
  font-weight: 700;
  font-size: clamp(28px, 3cqi, 36px);
  line-height: 150%;
  text-align: center;
  color: #000;
  margin: 0 0 0 0;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  font-size: clamp(18px, 2cqi, 20px);
  line-height: 150%;
  color: #000;
}

.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  background-color: #696969;
}

/* #endregion */

/* #region // -header ---------- */

.header {
  display: grid;
  grid-template: 1fr / 1fr 640px;
  align-items: center;

  &__logo {
    width: 150px;
    height: 90px;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    text-align: center;
    padding: 30px 40px;
    border-radius: 50px;
  }

  &__link:hover {
    color: #fff;
    background-color: #696969;
  }

  &__burger {}
}

/* #endregion */

/* #region // -greet */

.greet {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
  padding-top: 100px;

  &__layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  &__title {
    font-weight: 800;
    font-size: clamp(28px, 4cqi, 50px);
    line-height: 150%;
    margin: 0;
    color: #000;

    &_grey {
      color: #696969;
    }
  }

  &__button {
    justify-self: flex-start;
    padding: 3.7% 28px;
  }

  &__image {
    position: relative;
    padding: 0 0 78% 0;
  }

  &__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* #endregion */

/* #region // -service */

.service {
  padding-top: 11.1%;
  /* 160/1440 */

  &__title {
    margin-bottom: 4.7%;
    /* 68/1440 */
  }

  &__layout {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
  }

  &__card {
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    background-color: #C4C4C4;
    border-radius: 20px;
    padding: 32px 20px;
  }

  &__card-title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    margin: 0;
    color: #000;
  }

  &__card-text {
    margin: 0;
  }
}

/* #endregion */

/* #region //- works */

.works {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 6.7%; /* 96/1440 */
  padding-bottom: 9%; /* 130/1440 */
  border-bottom: 1px solid #000;

  &__title {
    margin-bottom: 5.1%;
    /* 74/1440 */
  }

  &__layout {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(336px, 1fr));
    gap: 1rem;
    margin-bottom: 100px;
  }

  &__item {}

  &__card {
    max-width: 450px;
    margin: 0 auto;
  }

  &__button {
    justify-self: center;
    padding: 2.2% 28px
  }
}

/* #endregion */

/* #region //- test */

.test {
  padding: 4.4% 0 9%;
  border-bottom: 1px solid #000;

  &__title {
    margin-bottom: 13.2%;
    /* 190/1440 */
  }

  &__layout {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(522px, 1fr));
    row-gap: 46px;
    column-gap: 82px;
  }

  &__card {
    max-width: 655px;
    background: #E5E5E5;
    border-radius: 20px;
    padding: 36px 30px 22px;
    margin: 0 auto;
  }

  &__subtitle {}

  &__logo {
    width: 67px;
    height: 67px;
    float: left;
    margin-right: 20px;
  }

  &__name {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000;
  }

  &__social {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #696969;
  }
}

/* #endregion */